<div class="share" style="width: 100%;">
  <div style="margin: auto; text-align: center; font-size: 0.8em; color: grey;">请我喝咖啡</div>
  <div style="margin: auto; text-align: center; font-size: 0.8em; color: grey;max-width:500px;">
      <div style="float:left;margin-left:50px;">
        <div style="margin: auto; text-align: center; font-size: 0.8em; color: red;">支付宝</div>
        <image src="/resources/myqr/alipay.jpg"/>
      </div>
      <div style="float:left; margin-left: 50px;">
        <div style="margin: auto; text-align: center; font-size: 0.8em; color: red;">微信</div>
        <image src="/resources/myqr/wechatpay.jpg"/>
      </div>
      <div style="clear:left;"></div>
  </div>
</div>
